.dashboard-container {
	animation: fadeIn 1s;
	padding-left: 10px;
	padding-right: 10px;
}

.dashboard-header {
	margin-left: 20px;
	color: white !important;
}

.tiles {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	overflow: hidden !important;
}

.tile {
	width: 160px;
	height: 180px;
	border-radius: 4px;
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

.tile.wide {
	width: 340px;
}

.tile.wide:hover {
	cursor: pointer;
}

.tile .tile__analysis {
	height: 120px;
	background-color: #f4f4f4;
	border-radius: 4px 4px 0 0;
	color: white;
	font-weight: 300;
}

.tile.wide .tile__analysis .left,
.tile.wide .tile__analysis .right {
	width: 160px;
	float: left;
}

.tile .tile__analysis .numeric-datum {
	font-size: 48px;
	text-align: center;
	padding: 10px 0 0;
	opacity: .3;
	font-weight: 500;
	color: #1f2d3d !important;
}

.tile .tile__analysis .title {
	font-size: 20px;
	text-align: center;
	opacity: .3;
	font-weight: 500;
	color: #1f2d3d !important;
}

.tile .tile__base {
	height: 60px;
	border-radius: 0 0 4px 4px;
	background-color: white;
	color: #1f2d3d !important;
}

.tile .tile__base .title {
	text-align: center;
	font-size: 20px;
	padding-top: 2%;
}

.tile.wide .tile__base .title {
	padding: 4%;
}

.tile__analysis:hover {
	filter: brightness(80%);
}


.back-arrow {
	fill: rgb(93, 213, 127);
	margin-top: 35px;
	margin-left: 20px;
}

.back-arrow:hover {
	filter: brightness(110%);
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

body {
	overflow-y: auto !important;
}

.tile__modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto !important;
}

.tile__modal-content {
	position: relative;
	background-color: rgb(50, 54, 57);
	color: white;
	margin: auto;
	padding: 0;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animateTop;
	-webkit-animation-duration: 0.4s;
	animation-name: animateTop;
	animation-duration: 0.4s;
	border-radius: 4px;
}

@-webkit-keyframes animateTop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

@keyframes animateTop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: rgb(93, 213, 127);
	text-decoration: none;
	cursor: pointer;
}

.tile__modal-header {
	padding: 2px 16px;
	background-color: rgb(50, 54, 57);
	color: white;
	border-radius: 4px 4px 0px 0px;
}

.tile__modal-body {
	padding: 2px 16px;
}

.tile__modal-header-text {
	opacity: .3;
	font-weight: 500;
	color: white !important;
}
