.return-home-button {
	margin-top: 20px;
	animation: pulsate 2s infinite;
	border-radius: 24px;
	border-style: solid;
	border-color: transparent;
	padding: 12px 20px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	background-color: #FF3D4A !important;
	color: white;
	cursor: pointer;
}

.return-home-button:hover {
	filter: brightness(80%);
	outline: none;
	animation: none;
}

.return-home-button:focus {
	outline: none;
}

.logo {
	fill: #FF3D4A !important;
}

.bottom-waves--error {
	height: 5%;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #FF3D4A;
	animation: fadeIn 2s;
}

.wave--error {
	background: url(error-wave.svg) repeat-x;
	position: absolute;
	top: -198px;
	width: 6400px;
	height: 198px;
	animation: wave 14s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
	transform: translate3d(0, 0, 0);
}

.wave--error:nth-of-type(2) {
	top: -175px;
	animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, oscillate 7s ease -1.25s infinite;
	opacity: 1;
}

.tip {
	margin-top: 7px !important;
}
