.get-started-button {
	margin-top: 20px;
	animation: pulsate 2s infinite;
	border-radius: 24px;
	border-style: solid;
	border-color: transparent;
	padding: 12px 20px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	background-color: #63bc92;
	color: white;
	cursor: pointer;
}

.get-started-button:hover {
	filter: brightness(80%);
	outline: none;
	animation: none;
}

.get-started-button:focus {
	outline: none;
}

@keyframes pulsate {
	0% {
		box-shadow: 0 0 0 0px rgba(211, 211, 211, 0.5);
	}

	100% {
		box-shadow: 0 0 0 24px rgba(211, 211, 211, 0);
	}
}
