.app-container {
	text-align: center;
	border-radius: 16px;
	border: 1px solid grey;
	color: white;
	padding: 40px;
	position: absolute;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
	max-width: 500px;
	width: 1 00%;
	margin: 0 auto;
	left: 0;
	right: 0;
	animation: fadeUp 300ms;
}

.app-header {
	padding-left: 75px;
	color: white !important;
	display: flex;
	flex-direction: row;
	flex-wrap: none;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.logo {
	fill: #63bc92 !important;
	width: 32px;
	height: 32px;
}

.button--state-transparent {
	color: white !important;
	background-color: transparent;
	border: none;
}

.button--state-transparent:focus {
	outline: none;
}

.button--state-transparent:hover {
	cursor: pointer;
}

<<<<<<< HEAD
<<<<<<< HEAD @-webkit-keyframes fadeUp {
	=======@-webkit-keyframes fadeIn {

		>>>>>>>new animations,
		added favicon,
		reduced css overhead,
		continued on dashboard from {
			opacity: 0;
			-webkit-transform: translate3d(0, 100%, 0);
			transform: translate3d(0, 100%, 0);
		}

		to {
			opacity: 1;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, -50%, 0);
		}
	}

	<<<<<<< HEAD @keyframes fadeUp {
		=======@keyframes fadeIn {

			>>>>>>>new animations,
			added favicon,
			reduced css overhead,
			continued on dashboard from {
				opacity: 0;
				-webkit-transform: translate3d(0, 100%, 0);
				transform: translate3d(0, 100%, 0);
			}

			to {
				opacity: 1;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, -50%, 0);
			}
		}

		<<<<<<< HEAD @-webkit-keyframes fadeIn {
			from {
				opacity: 0;
			}

			to {
				opacity: 1;
			}
		}

		@keyframes fadeIn {
			from {
				opacity: 0;
			}

			to {
				opacity: 1;
			}
		}

		@keyframes wave {
			0% {
				margin-left: 0;
			}

			100% {
				margin-left: -1600px;
			}
		}

		@keyframes oscillate {

			0%,
			100% {
				transform: translate3d(0, -25px, 0);
			}

			50% {
				transform: translate3d(0, 5px, 0);
			}
		}

		@keyframes drift {
			from {
				transform: rotate(0deg);
			}

			from {
				transform: rotate(360deg);
			}
		}

		.bottom-waves {
			height: 5%;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			background: #4AA379;
			animation: fadeIn 1s;
		}

		.wave {
			background: url(wave.svg) repeat-x;
			position: absolute;
			top: -198px;
			width: 6400px;
			height: 198px;
			animation: wave 14s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
			transform: translate3d(0, 0, 0);
		}

		.wave:nth-of-type(2) {
			top: -175px;
			animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, oscillate 7s ease -1.25s infinite;
			opacity: 1;
		}


		=======>>>>>>>new animations,
		added favicon,
		reduced css overhead,
		continued on dashboard body {
			background-color: #39414d;
			font-family: "Open Sans";
			overflow: hidden;
		}

		h1 {
			font-family: "Open Sans";
			font-size: 24px;
			font-style: normal;
			font-variant: normal;
			font-weight: 700;
			line-height: 26.4px;
		}

		h3 {
			font-family: "Open Sans";
			font-size: 14px;
			font-style: normal;
			font-variant: normal;
			font-weight: 700;
			line-height: 15.4px;
		}

		p {
			font-family: "Open Sans";
			font-size: 14px;
			font-style: normal;
			font-variant: normal;
			font-weight: 400;
			line-height: 20px;
		}

		blockquote {
			font-family: "Open Sans";
			font-size: 21px;
			font-style: normal;
			font-variant: normal;
			font-weight: 400;
			line-height: 30px;
		}

		pre {
			font-family: "Open Sans";
			font-size: 13px;
			font-style: normal;
			font-variant: normal;
			font-weight: 400;
			line-height: 18.5714px;
		}

		html,
		body {
			height: 100%;
		}
=======

@-webkit-keyframes fadeUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, -50%, 0);
	}
}

@keyframes fadeUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, -50%, 0);
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes wave {
	0% {
		margin-left: 0;
	}

	100% {
		margin-left: -1600px;
	}
}

@keyframes oscillate {

	0%,
	100% {
		transform: translate3d(0, -25px, 0);
	}

	50% {
		transform: translate3d(0, 5px, 0);
	}
}

@keyframes drift {
	from {
		transform: rotate(0deg);
	}

	from {
		transform: rotate(360deg);
	}
}

.bottom-waves {
	height: 5%;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #4AA379;
	animation: fadeIn 1s;
}

.wave {
	background: url(wave.svg) repeat-x;
	position: absolute;
	top: -198px;
	width: 6400px;
	height: 198px;
	animation: wave 14s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
	transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
	top: -175px;
	animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, oscillate 7s ease -1.25s infinite;
	opacity: 1;
}


body {
	background-color: #39414d;
	font-family: "Open Sans";
	overflow: hidden;
}

h1 {
	font-family: "Open Sans";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
}

h3 {
	font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 15.4px;
}

p {
	font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

blockquote {
	font-family: "Open Sans";
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

pre {
	font-family: "Open Sans";
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

html,
body {
	height: 100%;
}
>>>>>>> bug fixes, parsing now working, continued on dashboard,
