.upload-container {
	text-align: center;
	border-radius: 16px;
	border: 1px solid grey;
	color: white;
	padding: 40px;
	position: absolute;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	left: 0;
	right: 0;
	animation: fadeIn 300ms;
}

.app-header {
	padding-left: 18px;
	color: white !important;
	display: flex;
	flex-direction: row;
	flex-wrap: none;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.logo {
	fill: #63bc92 !important;
	width: 32px;
	height: 32px;
}

.button--state-transparent {
	color: white !important;
	background-color: transparent;
	border: none;
}

.button--state-transparent:focus {
	outline: none;
}

.button--state-transparent:hover {
	cursor: pointer;
}

.back-link {
	float: left;
	text-decoration: underline;
	font-style: italic;
}

.back-link:hover {
	cursor: pointer;
	color: #63bc92;
}

[type="file"],
[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	white-space: nowrap;
	width: 1px;
}

[type="file"]+label,
[type="submit"]+label {
	background-color: #63bc92;
	border-radius: 25px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 4rem;
	padding: 12px 20px;
	color: white;
}

[type="file"]:focus+label,
[type="file"]+label:hover,
[type="submit"]:focus+label,
[type="submit"]+label:hover {
	filter: brightness(120%);
	outline: none;
}

.analyse-button {
	margin-top: 20px;
	animation: pulsate 2s infinite;
	border-radius: 25px;
	border-style: solid;
	border-color: transparent;
	padding: 12px 20px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	background-color: #0facf3 !important;
	color: white;
	cursor: pointer;
}

.analyse-button:hover {
	filter: brightness(120%);
	outline: none;
}

.analyse-button:focus {
	outline: none;
}

.analyse-button:disabled {
	filter: brightness(80%);
}

.analyse-button:disabled:hover {
	filter: brightness(80%);
	cursor: not-allowed;
}


@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, -50%, 0);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, -50%, 0);
	}
}

.analyse-button {
	font-size: 17px !important;
	margin-top: 20px;
	border-radius: 25px;
	border-style: solid;
	border-color: transparent;
	padding: 12px 20px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	background-color: #63bc92;
	color: white;
	cursor: pointer;

}

.analyse-button:hover {
	filter: brightness(120%);
	outline: none;
	animation: none;
}

.analyse-button:focus {
	outline: none;
}


body {
	color: white !important;
	background-color: #39414d;
}

h1 {
	font-family: "Open Sans";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
}

h2 {
	font-family: "Open Sans";
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 20px;
}

h3 {
	font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 15.4px;
}

p {
	font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

label {
	font-family: "Open Sans";
}

a {
	text-decoration: none;
	font-family: "Open Sans";
	color: white;
}

li {
	list-style-type: none;
}


blockquote {
	font-family: "Open Sans";
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

pre {
	font-family: "Open Sans";
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
