.back-link {
	float: left;
	text-decoration: underline;
	font-style: italic;
}

.back-link:hover {
	cursor: pointer;
	color: #63bc92;
}

[type="file"],
[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	white-space: nowrap;
	width: 1px;
}

[type="file"]+label,
[type="submit"]+label {
	background-color: #63bc92;
	border-radius: 24px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 4rem;
	padding: 12px 20px;
	color: white;
}

[type="file"]:focus+label,
[type="file"]+label:hover,
[type="submit"]:focus+label,
[type="submit"]+label:hover {
	filter: brightness(80%);
	outline: none;
}
