<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en" class="no-js">

<head>
	<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
	<link href="../static/css/upload.css" th:href="@{/css/upload.css}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
	<title>NOSEJOB: A Code Smell Detector</title>
</head>

<body>
	<div class="app-header">
		<button class="button--state-transparent" onclick="location.href='/'">
			<h1>NOSEJOB <svg class="logo" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
					<path fill="none" d="M0 0h24v24H0V0z" />
					<path
						d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z" />
				</svg></h1>
		</button>
	</div>
	<div class="app-container">
		<a onclick="location.href='/'" class="back-link">back</a>
		<h1>Upload File</h1>
		<form method="POST" enctype="multipart/form-data" action="/upload" id="file-form">
			<input type="file" name="file" id="file" data-multiple-caption="{fileCount} files selected" multiple />
			<label for="file" id="fileLabel"><span>choose a file</span></label>
			<input type="submit" value="Upload" id="submit" />
			<label id="" file="analyse-label" for="submit"><span>analyse</span></label>
			<span id="file-upload-text"></span>
	</div>
	<div class="bottom-waves">
		<div class="wave"></div>
		<div class="wave"></div>
	</div>
	<script>
		let initialized = false;
		let fileInput = document.getElementById('file');
		let label = document.getElementById('fileLabel');
		let labelValue = label.innerHTML;
		let uploadInput = document.getElementById('submit');
		uploadInput.setAttribute('diabled', 'disabled');
		fileInput.addEventListener('change', (event$) => {
			let fileName = '';
			if (this.files && this.files.length > 1) {
				fileName = (this.getAttribute('data-multiple-caption') || '')
					.replace('{fileCount}', this.files.length);
			} else {
				fileName = event$.target.value.split('\\').pop();
			}

			if (fileName) {
				if (fileName.length > 10) {
					fileName = `${fileName.substring(0, 10)}...`;
				}
				label.querySelector('span').innerHTML = fileName;
			} else {
				label.innerHTML = labelValue;
			}

			if (!initialized) {
				initialized = true;
			}
		});

	</script>
</body>

</html>
